body {
   margin: 15px;
   font-family: sans-serif;
   font-size: 12pt;
}

h1 {
   padding: 1rem 2rem;
   font-size: 18pt;
   border-top: 6px double #528000;
   border-bottom: 6px double #528800;
   background: #87c82675;
   color: #393939;
 }

.warning {
   color: red;
}

.question_overall {
   margin-bottom: 25px;
}

.question_title {
   margin-top :10px ;
   padding: 5px;
   padding-left: 15px;
   border-radius: 5px;
   background-color: #66ba002b;
   color: #555;
   font-weight: bold;
}

.question_description {
   font-size: 12pt;
   color: #646363b9;
   margin: 20px 30px 0px 30px;
}

.question_content {
   margin: 10px 20px;
}

.textbox {
   font-size: 15pt;
   margin-left: 30px;
}
.textarea {
   font-size: 15pt;
   width: 90%;
   width: 100%;
}

/* 登録ボタン  */
#submit_button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   margin:0 auto;
   padding: .9em 2em;
   border: 1px solid #2589d0;
   border-radius: 5px;
   background-color: #2589d0;
   color: #fff;
   font-size: 1em;
}
#submit_button:active {
   background-color: #2589d0;
   color: #fff;
}
#submit_button:hover {
   cursor: pointer;
}

.container {
   display: block;
   text-align: center;
   color:#555;
   border-radius:10px;
   font-family:Tahoma,Geneva,Arial,sans-serif;
   padding:10px 10px 10px 10px;
   margin:10px;
}

.container #container_1 {
   font-weight:bold;
   text-transform:uppercase;
   white-space: nowrap;
   margin: 0 10px;

}

h2 {
   padding: 0.5em;/*文字周りの余白*/
   color: #010101;/*文字色*/
   background-color: #66ba002b;
   border-bottom: solid 3px #248c0d;
   color: #555;
   /* background: #eaf3ff;背景色 */
   /* border-bottom: solid 3px #516ab6;下線 */
 }

.content {
   margin: 10px;
   color: #4d4d4d;
}

.step_num {
   text-transform: uppercase;
}
.step_num::after {
   text-transform: uppercase;
   content: ' ';
}

 .step {
   background: linear-gradient(transparent 70%, #a7d6ff 70%);
   font-size: 110%;
   color: #555;
   font-family: sans-serif;
   font-weight: bold;
 }

 .description_content {
   margin: 10px;
   color: #4d4d4d;
 }